huggingface-hub==0.30.2
matplotlib==3.10.1
pickle-mixin==1.0.2
pip==25.1.1
scikit-learn==1.6.1
streamlit==1.44.1
streamlit-option-menu==0.4.0
numpy==2.0.1
pandas==2.2.3
torch==2.2.2
transformers==4.39.3
accelerate==0.28.0
